In [19]:
import pandas as pd
import json

In [5]:
df = pd.read_csv('/home/alena/Data/Localstack/test_data/months=2016-05')

In [6]:
df.dtypes

departure                  object
return                     object
departure_id               object
departure_name             object
return_id                  object
return_name                object
distance (m)              float64
duration (sec.)           float64
avg_speed (km/h)          float64
departure_latitude        float64
departure_longitude       float64
return_latitude           float64
return_longitude          float64
Air temperature (degC)    float64
dtype: object

In [7]:
df['departure'] = df['departure'].astype('datetime64[ns]')

In [8]:
df['month_day'] = df['departure'].dt.to_period('D')

In [9]:
df['avg_distance_by_month'] = df['distance (m)'].mean()
df

,departure,return,departure_id,departure_name,return_id,return_name,distance (m),duration (sec.),avg_speed (km/h),departure_latitude,departure_longitude,return_latitude,return_longitude,Air temperature (degC),month_day,avg_distance_by_month
0,2016-05-02 07:31:00,2016-05-02T09:32:00.000+02:00,A10,Erottajan aukio,A10,Erottajan aukio,2.0,68.0,0.001765,60.166890,24.944262,60.166890,24.944262,14.1,2016-05-02,671.5
1,2016-05-02 07:58:00,2016-05-02T09:59:00.000+02:00,A10,Erottajan aukio,A10,Erottajan aukio,2.0,36.0,0.003333,60.166890,24.944262,60.166890,24.944262,14.1,2016-05-02,671.5
2,2016-05-02 08:19:00,2016-05-02T10:19:00.000+02:00,A10,Erottajan aukio,A10,Erottajan aukio,0.0,14.0,0.000000,60.166890,24.944262,60.166890,24.944262,14.5,2016-05-02,671.5
3,2016-05-02 13:25:00,2016-05-02T16:22:00.000+02:00,A10,Erottajan aukio,B01,Hakaniemi (M),2536.0,3400.0,0.044753,60.166890,24.944262,60.178110,24.952180,14.5,2016-05-02,671.5
4,2016-05-02 13:28:00,2016-05-02T15:34:00.000+02:00,A12,Unioninkatu,A09,Vanha kirkkopuisto,737.0,405.0,0.109185,60.167458,24.951023,60.165287,24.939150,14.5,2016-05-02,671.5
5,2016-05-02 13:29:00,2016-05-02T15:44:00.000+02:00,A09,Vanha kirkkopuisto,A29,Narinkka,1623.0,929.0,0.104822,60.165287,24.939150,60.170040,24.934607,14.5,2016-05-02,671.5
6,2016-05-02 13:30:00,2016-05-02T15:31:00.000+02:00,A22,Kaisaniemenpuisto,A22,Kaisaniemenpuisto,0.0,42.0,0.000000,60.173200,24.943300,60.173200,24.943300,14.5,2016-05-02,671.5
7,2016-05-02 13:31:00,2016-05-02T15:53:00.000+02:00,A26,Kiasma,A29,Narinkka,1815.0,1295.0,0.084093,60.171257,24.937428,60.170040,24.934607,14.5,2016-05-02,671.5
8,2016-05-02 13:32:00,2016-05-02T15:34:00.000+02:00,A19,Senaatintori,A19,Senaatintori,0.0,110.0,0.000000,60.169130,24.952640,60.169130,24.952640,14.5,2016-05-02,671.5
9,2016-05-02 13:32:00,2016-05-02T15:32:00.000+02:00,A27,Mannerheimintie,A27,Mannerheimintie,0.0,18.0,0.000000,60.169070,24.939419,60.169070,24.939419,14.5,2016-05-02,671.5

In [10]:
df['avg_distance_by_day'] = df.groupby('month_day')['distance (m)'].transform('mean')
df

,departure,return,departure_id,departure_name,return_id,return_name,distance (m),duration (sec.),avg_speed (km/h),departure_latitude,departure_longitude,return_latitude,return_longitude,Air temperature (degC),month_day,avg_distance_by_month,avg_distance_by_day
0,2016-05-02 07:31:00,2016-05-02T09:32:00.000+02:00,A10,Erottajan aukio,A10,Erottajan aukio,2.0,68.0,0.001765,60.166890,24.944262,60.166890,24.944262,14.1,2016-05-02,671.5,671.5
1,2016-05-02 07:58:00,2016-05-02T09:59:00.000+02:00,A10,Erottajan aukio,A10,Erottajan aukio,2.0,36.0,0.003333,60.166890,24.944262,60.166890,24.944262,14.1,2016-05-02,671.5,671.5
2,2016-05-02 08:19:00,2016-05-02T10:19:00.000+02:00,A10,Erottajan aukio,A10,Erottajan aukio,0.0,14.0,0.000000,60.166890,24.944262,60.166890,24.944262,14.5,2016-05-02,671.5,671.5
3,2016-05-02 13:25:00,2016-05-02T16:22:00.000+02:00,A10,Erottajan aukio,B01,Hakaniemi (M),2536.0,3400.0,0.044753,60.166890,24.944262,60.178110,24.952180,14.5,2016-05-02,671.5,671.5
4,2016-05-02 13:28:00,2016-05-02T15:34:00.000+02:00,A12,Unioninkatu,A09,Vanha kirkkopuisto,737.0,405.0,0.109185,60.167458,24.951023,60.165287,24.939150,14.5,2016-05-02,671.5,671.5
5,2016-05-02 13:29:00,2016-05-02T15:44:00.000+02:00,A09,Vanha kirkkopuisto,A29,Narinkka,1623.0,929.0,0.104822,60.165287,24.939150,60.170040,24.934607,14.5,2016-05-02,671.5,671.5
6,2016-05-02 13:30:00,2016-05-02T15:31:00.000+02:00,A22,Kaisaniemenpuisto,A22,Kaisaniemenpuisto,0.0,42.0,0.000000,60.173200,24.943300,60.173200,24.943300,14.5,2016-05-02,671.5,671.5
7,2016-05-02 13:31:00,2016-05-02T15:53:00.000+02:00,A26,Kiasma,A29,Narinkka,1815.0,1295.0,0.084093,60.171257,24.937428,60.170040,24.934607,14.5,2016-05-02,671.5,671.5
8,2016-05-02 13:32:00,2016-05-02T15:34:00.000+02:00,A19,Senaatintori,A19,Senaatintori,0.0,110.0,0.000000,60.169130,24.952640,60.169130,24.952640,14.5,2016-05-02,671.5,671.5
9,2016-05-02 13:32:00,2016-05-02T15:32:00.000+02:00,A27,Mannerheimintie,A27,Mannerheimintie,0.0,18.0,0.000000,60.169070,24.939419,60.169070,24.939419,14.5,2016-05-02,671.5,671.5

In [11]:
df['avg_duration_by_month'] = df['duration (sec.)'].mean()
df

,departure,return,departure_id,departure_name,return_id,return_name,distance (m),duration (sec.),avg_speed (km/h),departure_latitude,departure_longitude,return_latitude,return_longitude,Air temperature (degC),month_day,avg_distance_by_month,avg_distance_by_day,avg_duration_by_month
0,2016-05-02 07:31:00,2016-05-02T09:32:00.000+02:00,A10,Erottajan aukio,A10,Erottajan aukio,2.0,68.0,0.001765,60.166890,24.944262,60.166890,24.944262,14.1,2016-05-02,671.5,671.5,631.7
1,2016-05-02 07:58:00,2016-05-02T09:59:00.000+02:00,A10,Erottajan aukio,A10,Erottajan aukio,2.0,36.0,0.003333,60.166890,24.944262,60.166890,24.944262,14.1,2016-05-02,671.5,671.5,631.7
2,2016-05-02 08:19:00,2016-05-02T10:19:00.000+02:00,A10,Erottajan aukio,A10,Erottajan aukio,0.0,14.0,0.000000,60.166890,24.944262,60.166890,24.944262,14.5,2016-05-02,671.5,671.5,631.7
3,2016-05-02 13:25:00,2016-05-02T16:22:00.000+02:00,A10,Erottajan aukio,B01,Hakaniemi (M),2536.0,3400.0,0.044753,60.166890,24.944262,60.178110,24.952180,14.5,2016-05-02,671.5,671.5,631.7
4,2016-05-02 13:28:00,2016-05-02T15:34:00.000+02:00,A12,Unioninkatu,A09,Vanha kirkkopuisto,737.0,405.0,0.109185,60.167458,24.951023,60.165287,24.939150,14.5,2016-05-02,671.5,671.5,631.7
5,2016-05-02 13:29:00,2016-05-02T15:44:00.000+02:00,A09,Vanha kirkkopuisto,A29,Narinkka,1623.0,929.0,0.104822,60.165287,24.939150,60.170040,24.934607,14.5,2016-05-02,671.5,671.5,631.7
6,2016-05-02 13:30:00,2016-05-02T15:31:00.000+02:00,A22,Kaisaniemenpuisto,A22,Kaisaniemenpuisto,0.0,42.0,0.000000,60.173200,24.943300,60.173200,24.943300,14.5,2016-05-02,671.5,671.5,631.7
7,2016-05-02 13:31:00,2016-05-02T15:53:00.000+02:00,A26,Kiasma,A29,Narinkka,1815.0,1295.0,0.084093,60.171257,24.937428,60.170040,24.934607,14.5,2016-05-02,671.5,671.5,631.7
8,2016-05-02 13:32:00,2016-05-02T15:34:00.000+02:00,A19,Senaatintori,A19,Senaatintori,0.0,110.0,0.000000,60.169130,24.952640,60.169130,24.952640,14.5,2016-05-02,671.5,671.5,631.7
9,2016-05-02 13:32:00,2016-05-02T15:32:00.000+02:00,A27,Mannerheimintie,A27,Mannerheimintie,0.0,18.0,0.000000,60.169070,24.939419,60.169070,24.939419,14.5,2016-05-02,671.5,671.5,631.7

In [12]:
df['avg_duration_by_day'] = df.groupby('month_day')['duration (sec.)'].transform('mean')

In [13]:
df['avg_speed_by_month'] = df['avg_speed (km/h)'].mean()
df

,departure,return,departure_id,departure_name,return_id,return_name,distance (m),duration (sec.),avg_speed (km/h),departure_latitude,departure_longitude,return_latitude,return_longitude,Air temperature (degC),month_day,avg_distance_by_month,avg_distance_by_day,avg_duration_by_month,avg_duration_by_day,avg_speed_by_month
0,2016-05-02 07:31:00,2016-05-02T09:32:00.000+02:00,A10,Erottajan aukio,A10,Erottajan aukio,2.0,68.0,0.001765,60.166890,24.944262,60.166890,24.944262,14.1,2016-05-02,671.5,671.5,631.7,631.7,0.034795
1,2016-05-02 07:58:00,2016-05-02T09:59:00.000+02:00,A10,Erottajan aukio,A10,Erottajan aukio,2.0,36.0,0.003333,60.166890,24.944262,60.166890,24.944262,14.1,2016-05-02,671.5,671.5,631.7,631.7,0.034795
2,2016-05-02 08:19:00,2016-05-02T10:19:00.000+02:00,A10,Erottajan aukio,A10,Erottajan aukio,0.0,14.0,0.000000,60.166890,24.944262,60.166890,24.944262,14.5,2016-05-02,671.5,671.5,631.7,631.7,0.034795
3,2016-05-02 13:25:00,2016-05-02T16:22:00.000+02:00,A10,Erottajan aukio,B01,Hakaniemi (M),2536.0,3400.0,0.044753,60.166890,24.944262,60.178110,24.952180,14.5,2016-05-02,671.5,671.5,631.7,631.7,0.034795
4,2016-05-02 13:28:00,2016-05-02T15:34:00.000+02:00,A12,Unioninkatu,A09,Vanha kirkkopuisto,737.0,405.0,0.109185,60.167458,24.951023,60.165287,24.939150,14.5,2016-05-02,671.5,671.5,631.7,631.7,0.034795
5,2016-05-02 13:29:00,2016-05-02T15:44:00.000+02:00,A09,Vanha kirkkopuisto,A29,Narinkka,1623.0,929.0,0.104822,60.165287,24.939150,60.170040,24.934607,14.5,2016-05-02,671.5,671.5,631.7,631.7,0.034795
6,2016-05-02 13:30:00,2016-05-02T15:31:00.000+02:00,A22,Kaisaniemenpuisto,A22,Kaisaniemenpuisto,0.0,42.0,0.000000,60.173200,24.943300,60.173200,24.943300,14.5,2016-05-02,671.5,671.5,631.7,631.7,0.034795
7,2016-05-02 13:31:00,2016-05-02T15:53:00.000+02:00,A26,Kiasma,A29,Narinkka,1815.0,1295.0,0.084093,60.171257,24.937428,60.170040,24.934607,14.5,2016-05-02,671.5,671.5,631.7,631.7,0.034795
8,2016-05-02 13:32:00,2016-05-02T15:34:00.000+02:00,A19,Senaatintori,A19,Senaatintori,0.0,110.0,0.000000,60.169130,24.952640,60.169130,24.952640,14.5,2016-05-02,671.5,671.5,631.7,631.7,0.034795
9,2016-05-02 13:32:00,2016-05-02T15:32:00.000+02:00,A27,Mannerheimintie,A27,Mannerheimintie,0.0,18.0,0.000000,60.169070,24.939419,60.169070,24.939419,14.5,2016-05-02,671.5,671.5,631.7,631.7,0.034795

In [14]:
df['avg_speed_by_day'] = df.groupby('month_day')['avg_speed (km/h)'].transform('mean')

In [15]:
df['avg_temperature_by_month'] = df['Air temperature (degC)'].mean()
df

,departure,return,departure_id,departure_name,return_id,return_name,distance (m),duration (sec.),avg_speed (km/h),departure_latitude,...,return_longitude,Air temperature (degC),month_day,avg_distance_by_month,avg_distance_by_day,avg_duration_by_month,avg_duration_by_day,avg_speed_by_month,avg_speed_by_day,avg_temperature_by_month
0,2016-05-02 07:31:00,2016-05-02T09:32:00.000+02:00,A10,Erottajan aukio,A10,Erottajan aukio,2.0,68.0,0.001765,60.166890,...,24.944262,14.1,2016-05-02,671.5,671.5,631.7,631.7,0.034795,0.034795,14.42
1,2016-05-02 07:58:00,2016-05-02T09:59:00.000+02:00,A10,Erottajan aukio,A10,Erottajan aukio,2.0,36.0,0.003333,60.166890,...,24.944262,14.1,2016-05-02,671.5,671.5,631.7,631.7,0.034795,0.034795,14.42
2,2016-05-02 08:19:00,2016-05-02T10:19:00.000+02:00,A10,Erottajan aukio,A10,Erottajan aukio,0.0,14.0,0.000000,60.166890,...,24.944262,14.5,2016-05-02,671.5,671.5,631.7,631.7,0.034795,0.034795,14.42
3,2016-05-02 13:25:00,2016-05-02T16:22:00.000+02:00,A10,Erottajan aukio,B01,Hakaniemi (M),2536.0,3400.0,0.044753,60.166890,...,24.952180,14.5,2016-05-02,671.5,671.5,631.7,631.7,0.034795,0.034795,14.42
4,2016-05-02 13:28:00,2016-05-02T15:34:00.000+02:00,A12,Unioninkatu,A09,Vanha kirkkopuisto,737.0,405.0,0.109185,60.167458,...,24.939150,14.5,2016-05-02,671.5,671.5,631.7,631.7,0.034795,0.034795,14.42
5,2016-05-02 13:29:00,2016-05-02T15:44:00.000+02:00,A09,Vanha kirkkopuisto,A29,Narinkka,1623.0,929.0,0.104822,60.165287,...,24.934607,14.5,2016-05-02,671.5,671.5,631.7,631.7,0.034795,0.034795,14.42
6,2016-05-02 13:30:00,2016-05-02T15:31:00.000+02:00,A22,Kaisaniemenpuisto,A22,Kaisaniemenpuisto,0.0,42.0,0.000000,60.173200,...,24.943300,14.5,2016-05-02,671.5,671.5,631.7,631.7,0.034795,0.034795,14.42
7,2016-05-02 13:31:00,2016-05-02T15:53:00.000+02:00,A26,Kiasma,A29,Narinkka,1815.0,1295.0,0.084093,60.171257,...,24.934607,14.5,2016-05-02,671.5,671.5,631.7,631.7,0.034795,0.034795,14.42
8,2016-05-02 13:32:00,2016-05-02T15:34:00.000+02:00,A19,Senaatintori,A19,Senaatintori,0.0,110.0,0.000000,60.169130,...,24.952640,14.5,2016-05-02,671.5,671.5,631.7,631.7,0.034795,0.034795,14.42
9,2016-05-02 13:32:00,2016-05-02T15:32:00.000+02:00,A27,Mannerheimintie,A27,Mannerheimintie,0.0,18.0,0.000000,60.169070,...,24.939419,14.5,2016-05-02,671.5,671.5,631.7,631.7,0.034795,0.034795,14.42

In [16]:
df['avg_temperature_by_day'] = df.groupby('month_day')['Air temperature (degC)'].transform('mean')
df

,departure,return,departure_id,departure_name,return_id,return_name,distance (m),duration (sec.),avg_speed (km/h),departure_latitude,...,Air temperature (degC),month_day,avg_distance_by_month,avg_distance_by_day,avg_duration_by_month,avg_duration_by_day,avg_speed_by_month,avg_speed_by_day,avg_temperature_by_month,avg_temperature_by_day
0,2016-05-02 07:31:00,2016-05-02T09:32:00.000+02:00,A10,Erottajan aukio,A10,Erottajan aukio,2.0,68.0,0.001765,60.166890,...,14.1,2016-05-02,671.5,671.5,631.7,631.7,0.034795,0.034795,14.42,14.42
1,2016-05-02 07:58:00,2016-05-02T09:59:00.000+02:00,A10,Erottajan aukio,A10,Erottajan aukio,2.0,36.0,0.003333,60.166890,...,14.1,2016-05-02,671.5,671.5,631.7,631.7,0.034795,0.034795,14.42,14.42
2,2016-05-02 08:19:00,2016-05-02T10:19:00.000+02:00,A10,Erottajan aukio,A10,Erottajan aukio,0.0,14.0,0.000000,60.166890,...,14.5,2016-05-02,671.5,671.5,631.7,631.7,0.034795,0.034795,14.42,14.42
3,2016-05-02 13:25:00,2016-05-02T16:22:00.000+02:00,A10,Erottajan aukio,B01,Hakaniemi (M),2536.0,3400.0,0.044753,60.166890,...,14.5,2016-05-02,671.5,671.5,631.7,631.7,0.034795,0.034795,14.42,14.42
4,2016-05-02 13:28:00,2016-05-02T15:34:00.000+02:00,A12,Unioninkatu,A09,Vanha kirkkopuisto,737.0,405.0,0.109185,60.167458,...,14.5,2016-05-02,671.5,671.5,631.7,631.7,0.034795,0.034795,14.42,14.42
5,2016-05-02 13:29:00,2016-05-02T15:44:00.000+02:00,A09,Vanha kirkkopuisto,A29,Narinkka,1623.0,929.0,0.104822,60.165287,...,14.5,2016-05-02,671.5,671.5,631.7,631.7,0.034795,0.034795,14.42,14.42
6,2016-05-02 13:30:00,2016-05-02T15:31:00.000+02:00,A22,Kaisaniemenpuisto,A22,Kaisaniemenpuisto,0.0,42.0,0.000000,60.173200,...,14.5,2016-05-02,671.5,671.5,631.7,631.7,0.034795,0.034795,14.42,14.42
7,2016-05-02 13:31:00,2016-05-02T15:53:00.000+02:00,A26,Kiasma,A29,Narinkka,1815.0,1295.0,0.084093,60.171257,...,14.5,2016-05-02,671.5,671.5,631.7,631.7,0.034795,0.034795,14.42,14.42
8,2016-05-02 13:32:00,2016-05-02T15:34:00.000+02:00,A19,Senaatintori,A19,Senaatintori,0.0,110.0,0.000000,60.169130,...,14.5,2016-05-02,671.5,671.5,631.7,631.7,0.034795,0.034795,14.42,14.42
9,2016-05-02 13:32:00,2016-05-02T15:32:00.000+02:00,A27,Mannerheimintie,A27,Mannerheimintie,0.0,18.0,0.000000,60.169070,...,14.5,2016-05-02,671.5,671.5,631.7,631.7,0.034795,0.034795,14.42,14.42

In [17]:
new_df = df.filter(['avg_distance_by_month', 'avg_distance_by_day', 'avg_duration_by_month',
                                'avg_duration_by_day','avg_speed_by_month','avg_speed_by_day',
                                'avg_temperature_by_month','avg_temperature_by_day'], axis=1)

In [20]:
json.dumps(json.loads(new_df.to_json(orient="records")))

'[{"avg_distance_by_month": 671.5, "avg_distance_by_day": 671.5, "avg_duration_by_month": 631.7, "avg_duration_by_day": 631.7, "avg_speed_by_month": 0.0347951209, "avg_speed_by_day": 0.0347951209, "avg_temperature_by_month": 14.42, "avg_temperature_by_day": 14.42}, {"avg_distance_by_month": 671.5, "avg_distance_by_day": 671.5, "avg_duration_by_month": 631.7, "avg_duration_by_day": 631.7, "avg_speed_by_month": 0.0347951209, "avg_speed_by_day": 0.0347951209, "avg_temperature_by_month": 14.42, "avg_temperature_by_day": 14.42}, {"avg_distance_by_month": 671.5, "avg_distance_by_day": 671.5, "avg_duration_by_month": 631.7, "avg_duration_by_day": 631.7, "avg_speed_by_month": 0.0347951209, "avg_speed_by_day": 0.0347951209, "avg_temperature_by_month": 14.42, "avg_temperature_by_day": 14.42}, {"avg_distance_by_month": 671.5, "avg_distance_by_day": 671.5, "avg_duration_by_month": 631.7, "avg_duration_by_day": 631.7, "avg_speed_by_month": 0.0347951209, "avg_speed_by_day": 0.0347951209, "avg_temperature_by_month": 14.42, "avg_temperature_by_day": 14.42}, {"avg_distance_by_month": 671.5, "avg_distance_by_day": 671.5, "avg_duration_by_month": 631.7, "avg_duration_by_day": 631.7, "avg_speed_by_month": 0.0347951209, "avg_speed_by_day": 0.0347951209, "avg_temperature_by_month": 14.42, "avg_temperature_by_day": 14.42}, {"avg_distance_by_month": 671.5, "avg_distance_by_day": 671.5, "avg_duration_by_month": 631.7, "avg_duration_by_day": 631.7, "avg_speed_by_month": 0.0347951209, "avg_speed_by_day": 0.0347951209, "avg_temperature_by_month": 14.42, "avg_temperature_by_day": 14.42}, {"avg_distance_by_month": 671.5, "avg_distance_by_day": 671.5, "avg_duration_by_month": 631.7, "avg_duration_by_day": 631.7, "avg_speed_by_month": 0.0347951209, "avg_speed_by_day": 0.0347951209, "avg_temperature_by_month": 14.42, "avg_temperature_by_day": 14.42}, {"avg_distance_by_month": 671.5, "avg_distance_by_day": 671.5, "avg_duration_by_month": 631.7, "avg_duration_by_day": 631.7, "avg_speed_by_month": 0.0347951209, "avg_speed_by_day": 0.0347951209, "avg_temperature_by_month": 14.42, "avg_temperature_by_day": 14.42}, {"avg_distance_by_month": 671.5, "avg_distance_by_day": 671.5, "avg_duration_by_month": 631.7, "avg_duration_by_day": 631.7, "avg_speed_by_month": 0.0347951209, "avg_speed_by_day": 0.0347951209, "avg_temperature_by_month": 14.42, "avg_temperature_by_day": 14.42}, {"avg_distance_by_month": 671.5, "avg_distance_by_day": 671.5, "avg_duration_by_month": 631.7, "avg_duration_by_day": 631.7, "avg_speed_by_month": 0.0347951209, "avg_speed_by_day": 0.0347951209, "avg_temperature_by_month": 14.42, "avg_temperature_by_day": 14.42}]'